#nav-bar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: fixed;
  z-index: 19;
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  font-size: min(1em, 5.5vw);
  text-align: center;
  visibility: hidden;
  opacity: 0;
  width: 0%;
  transition: 0s;
}

#nav-bar .navigation,
#nav-bar .register {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 100px;
  width: 100%;
}

#nav-bar .navigation {
  align-items: flex-end;
  padding-bottom: 1em;
}

#nav-bar .register {
  align-items: baseline;
  padding-top: 1em;
}

#nav-bar li {
  padding: 0.3rem 1rem;
  border: 1px solid #ffffff00;
}

#nav-bar li:hover {
  border: 1px solid #1f76da;
}