<footer>
  <div class="footer-social">
    <div><i name="footerSocial" class="fab fa-twitter fa-lg twitter"></i></div>
    <div><i name="footerSocial" class="fab fa-instagram fa-lg"></i></div>
    <div><i name="footerSocial" class="fab fa-facebook-f fa-lg"></i></div>
    <div><i name="footerSocial" class="fab fa-facebook-messenger fa-lg"></i></div>
    <div><i name="footerSocial" class="fas fa-mobile-alt fa-lg"></i></div>
    <div><i name="footerSocial" class="fas fa-envelope-open fa-lg"></i></div>
  </div>
  <div class="footer-links">
    <ul>
      <li><a href="#">Link 1</a></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li><a href="#">Link 4</a></li>
      <li><a href="#">Link 5</a></li>
      <li><a href="#">Link 6</a></li>
    </ul>
    <ul>
      <li><a href="#">Link 7</a></li>
      <li><a href="#">Link 8</a></li>
      <li><a href="#">Link 9</a></li>
      <li><a href="#">Link 10</a></li>
      <li><a href="#">Link 11</a></li>
      <li><a href="#">Link 12</a></li>
    </ul>
    <ul>
      <li><a href="#">Link 13</a></li>
      <li><a href="#">Link 14</a></li>
      <li><a href="#">Link 15</a></li>
      <li><a href="#">Link 16</a></li>
      <li><a href="#">Link 17</a></li>
      <li><a href="#">Link 18</a></li>
    </ul>
  </div>
  <div class="footer-copyright">
    <p>copyright <i class="far fa-copyright"></i> <span></span> justGreatBeers.com</p>
  </div>
</footer>